.hero{
    background: url("./assets/male-boxer-tilted.jpg") center / cover;
}

.outline{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.navbar-item{
    transition: all .3s;
}

#clube{
    background: rgb(72,199,116);
    background: linear-gradient(126deg, rgba(32,156,238,1) 0%, rgba(72,199,116,1) 45%);
}    

#fotos{
    background: rgb(72,199,116);
    background: linear-gradient(126deg, rgba(72,199,116,1) 0%, rgba(32,156,238,1) 45%);
} 

.round-border{
    border-radius: 25px;
}

iframe {
    width: 37.5em;
    height: 28.125em;
    border: 2px solid black;
    padding: 1em;
}


@media screen and (max-width:960px){
    .modal-content{
        width: 28em;
        height: 35em;
        
    }
    iframe {
        width: 25em;
        height: 22em;
        border: 1px solid black;
        padding: 1em;
    }
}

@media screen and (max-width:400px){
    .modal-content{
        width: 22em;
        height: 30em;
    }
    iframe {
        width: 19em;
        height: 15em;
        border: 1px solid black;
        padding: 1em;
    }
}
